### Dictionary and its methods

In [2]:
d1={111:"siddu",112:"lavanya",113:"manga"}
d1

{111: 'siddu', 112: 'lavanya', 113: 'manga'}

In [3]:
# Changing values of dictionary

d1[113]="Rajeswari"

In [4]:
d1

{111: 'siddu', 112: 'lavanya', 113: 'Rajeswari'}

In [5]:
# Adding values to the dictionary

d1[114]="Dinesh"
d1

{111: 'siddu', 112: 'lavanya', 113: 'Rajeswari', 114: 'Dinesh'}

In [7]:
# length of a dictionary

len(d1)   # no of items inside the dictionary

4

In [8]:
# Removing items from the dictionary

#pop()

d1.pop(111)    #pop(key)

'siddu'

In [9]:
d1

{112: 'lavanya', 113: 'Rajeswari', 114: 'Dinesh'}

In [10]:
#  popitem()  -> removes item in key,value pair

d1.popitem()

(114, 'Dinesh')

In [11]:
d1.popitem()

(113, 'Rajeswari')

In [12]:
d1

{112: 'lavanya'}

In [20]:
# del, to remove individual element or dictionary itself

a={1:100,2:200,3:300,4:400,5:500}
a

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [21]:
# to delete individual element

del a[3]   # del dictionary[key]

In [22]:
a

{1: 100, 2: 200, 4: 400, 5: 500}

In [23]:
# to delete entire dictionary

del a   #del dictionaryname

In [24]:
a

NameError: name 'a' is not defined

In [25]:
# clear, to clear dictionary

b={2:20,3:30}
b

{2: 20, 3: 30}

In [26]:
b.clear()   # clears items from dictionary and empty dictionary exist

In [27]:
b

{}

In [28]:
b[6]=60

In [29]:
b

{6: 60}

In [30]:
dir(b)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
# copying values from one dictionary to another

d1={1:20,8:90,7:65}
d2={2:900,3:876}
d1=d2.copy()  #copying d2 into d1

d1

{2: 900, 3: 876}

In [32]:
d2

{2: 900, 3: 876}

In [34]:
# updating values by using keys as index

d2[4]="lokesh"
d2

{2: 900, 3: 876, 4: 'lokesh'}

In [35]:
# update()

d2.update({5:"chandu"})
d2

{2: 900, 3: 876, 4: 'lokesh', 5: 'chandu'}

In [36]:
# get() -> to get the value of the given key

d2.get(4)  # dictionary.get(key)

'lokesh'

In [37]:
d2.get(2)

900

In [38]:
d2[1]="baby"

In [39]:
d2

{2: 900, 3: 876, 4: 'lokesh', 5: 'chandu', 1: 'baby'}

In [40]:


d2

{2: 900, 3: 876, 4: 'lokesh', 5: 'chandu', 1: 'baby'}

In [41]:
# sorted  -ascending order

sorted(d2)  #depends on keys-> dictionary keys in sorted order

[1, 2, 3, 4, 5]

In [42]:
# sorted ,descending order

sorted(d2,reverse=True)

[5, 4, 3, 2, 1]

In [43]:
# dictionary memberhip -> in -> tests whether the key present or not in dictionary

d2

{2: 900, 3: 876, 4: 'lokesh', 5: 'chandu', 1: 'baby'}

In [44]:
print(6 in d2)   # key in dictionary

False

In [45]:
print(4 in d2)

True

In [46]:
# Iterating through a dictionary

for k in d2.keys():  #Retriving keys
    print(k,end=" ")

2 3 4 5 1

In [47]:
for v in d2.values():
    print(v,end=" ")

900 876 lokesh chandu baby

In [48]:
for k,v in d2.items():
    print(k,':',v,',',end=" ")

2 : 900 , 3 : 876 , 4 : lokesh , 5 : chandu , 1 : baby ,

In [49]:
for k in d2:
    print(k,end=" ")

2 3 4 5 1

In [50]:
for k in d2:
    print(d2[k],end=" ")

900 876 lokesh chandu baby

In [51]:
# fromkeys()

x=(1,2,3)
y=(100)

dic=dict.fromkeys(x,y)
dic

{1: 100, 2: 100, 3: 100}

In [52]:
# setdefault -> returns value if key is present ,
#otherwise returns none or default value

d1={1:'k',2:'h',3:'l'}
p=d1.setdefault(1)  # if the key in dictionary
print("default",p)
print(d1)

default k
{1: 'k', 2: 'h', 3: 'l'}

In [53]:
p1=d1.setdefault(4)  #key is not present
print(p1)
print(d1)

None
{1: 'k', 2: 'h', 3: 'l', 4: None}

In [54]:
p2=d1.setdefault(5,'hello')
print(p2)
print(d1)

hello
{1: 'k', 2: 'h', 3: 'l', 4: None, 5: 'hello'}

In [146]:
# print the sum of all marks

d={'maths':90,'science':89,'social':76}   #sum -> 90+89+76


s=sum(d.values())
print("sum of marks: ",s)

sum of marks:  255

In [147]:
# print the sum of all marks

d={'maths':90,'science':89,'social':76}   #sum -> 90+89+76

s=sum(d.values())
n=len(d)
avg=s/n
print("average of marks: ",avg)

average of marks:  85.0

In [150]:
# print student name who have maximum marks

d={"stu1":900,"stu2":950,"stu3":600}

m=max(d.values())

for k,v in  d.items():
    if v==m:
        print(k)

stu2

### Tuples and its methods

* Tuple is a collection of objects
* Tuple uses parenthesis
* tuples are immutable,i.e not changeable

### Advantages

* Tuples are immutable, iterating over a tuple is fast when compared with list
* If you have data that doesn't change , then implementing tuple will guarantee that your data is write-protected

In [55]:
# empty tuple

t=()
print(type(t))

<class 'tuple'>

In [56]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [57]:
ti=(90,89,76) # Interger tuple
ti

(90, 89, 76)

In [58]:
td=(1,90.9,'python')  #Different datatypes
td

(1, 90.9, 'python')

In [60]:
# Tuple packing

t = 2,'java',65.9

print(t)

x,y,z=t

print(x)
print(y)
print(z)

(2, 'java', 65.9)
2
java
65.9

In [61]:
t=('king')   # creating tuple with one element is a tricky
print(type(t))

<class 'str'>

In [62]:
t=('hello',)
print(type(t))

<class 'tuple'>

In [63]:
tt='hello',
print(type(tt))

<class 'tuple'>

In [67]:
# Accessing  tuple elements

t=('d','a','t','n','l','y','s','i')
print(t[0])
print(t[1])  # Positive indexing

# Negative indexing
print(t[-1])
print(t[-2])

d
a
i
s

In [68]:
# Nested Tuple

tn=(12,[90,87,9],('ram','hanuman'))
tn[0]

12

In [69]:
tn[1]

[90, 87, 9]

In [70]:
tn[2]

('ram', 'hanuman')

In [71]:
tn[2][0]

'ram'

In [72]:
tn[2][1]

'hanuman'

In [73]:
# Slicing -> we can access range of elements by using slicing operator ':'

t=(23,67,89,54,34)

t[:3]

(23, 67, 89)

In [74]:
t[::2] #Alternate elements

(23, 89, 34)

In [75]:
t[2:5]

(89, 54, 34)

In [76]:
t[-1:]

(34,)

In [77]:
# print elements from start to end
t[:]

(23, 67, 89, 54, 34)

In [78]:
# reverse order

t[::-1]

(34, 54, 89, 67, 23)

In [79]:
t

(23, 67, 89, 54, 34)

In [80]:
t[1:5:2]  # alternate element starting from index 1

(67, 54)

In [81]:
# Sum of elements

sum(t)

267

In [82]:
# Minimum value

min(t)

23

In [83]:
# Maximum value

max(t)

89

In [84]:
# Tuples are immutable, we can't change the values of tuple

t

(23, 67, 89, 54, 34)

In [86]:
t[1]=900

TypeError: 'tuple' object does not support item assignment

In [87]:
# Directly we can't change the tuple values but if it is in list inside tuple, then
# list values we can change

t=(1,2,3,[90,8,67])
t[3]

[90, 8, 67]

In [88]:
t[3][0]

90

In [89]:
t[3][0]=809

In [90]:
t

(1, 2, 3, [809, 8, 67])

In [91]:
# Concatenate operator '+'

t=(90,87,76)
t1=(67,54,32)
t+t1

(90, 87, 76, 67, 54, 32)

In [92]:
# Repetition operator '*'

t

(90, 87, 76)

In [93]:
t*3

(90, 87, 76, 90, 87, 76, 90, 87, 76)

In [96]:
# Tuple methods, no methods are available in tuple to add or remove element


# index() -> index of the tuple element

t=(90,87,67,56,45,89,90,90)
t.index(89)

5

In [97]:
t.index(56)

3

In [98]:
# Count() - no of occurance of element inside tuple

t.count(90)

3

In [99]:
# Membership operator 'in'

print(45 in t)

True

In [100]:
print(1000 in t)

False

In [102]:
# Iterating through a tuple

for i in t:
    print(i,end=" ")

90 87 67 56 45 89 90 90

In [103]:
# deleting a tuple

del t

In [104]:
t

NameError: name 't' is not defined

### Sets and its methods

* Set is an unordered collection of items. Every set item is unique 
* set doesn't allows duplicates

In [105]:
s={10,90,78}
print(type(s))

<class 'set'>

In [106]:
s1=set()
print(type(s1))

<class 'set'>

In [107]:
# since sets are unordered, we can't access or change an element of set using index
s1={10,'python','67.8',(100,90,56)}
s1

{(100, 90, 56), 10, '67.8', 'python'}

In [108]:
s1[0]  #error

TypeError: 'set' object is not subscriptable

In [109]:
# add() -> to add a single item to a set

s1.add(798)

In [110]:
s1

{(100, 90, 56), 10, '67.8', 798, 'python'}

In [111]:
s1.add('java')

In [112]:
s1

{(100, 90, 56), 10, '67.8', 798, 'java', 'python'}

In [113]:
# update() -> to add multiple elements to a set ,i.e list,tuple,set

s1.update((1000,2000))

In [114]:
s1

{(100, 90, 56), 10, 1000, 2000, '67.8', 798, 'java', 'python'}

In [115]:
s1.update({45.90,87})

In [116]:
s1

{(100, 90, 56), 10, 1000, 2000, 45.9, '67.8', 798, 87, 'java', 'python'}

In [117]:
s1.update([999,111])

In [118]:
s1

{(100, 90, 56),
 10,
 1000,
 111,
 2000,
 45.9,
 '67.8',
 798,
 87,
 999,
 'java',
 'python'}

In [119]:
# Discard an element

s={1,2,3,4,5}
s.discard(5)

In [120]:
s

{1, 2, 3, 4}

In [121]:
# removing an element

s={10,20,30,40,50}
s.remove(50)

In [122]:
s

{10, 20, 30, 40}

In [123]:
# Set of unique elements

s=set('helloworld')
s

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [124]:
s={90,90,89,76,55}
s

{55, 76, 89, 90}

In [125]:
# Pop an set element

s.pop()

89

In [126]:
s.pop()

90

In [127]:
# Clear a set

s.clear()

In [128]:
s

set()

In [129]:
# Set operations

A={1,2,3,4,5}
B={6,7,8,9,10}
A.union(B)   # all elements from SetS A and B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [130]:
A

{1, 2, 3, 4, 5}

In [131]:
B

{6, 7, 8, 9, 10}

In [132]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [133]:
A.intersection(B)    #Common  elements from SetS A and B

set()

In [134]:
B.intersection(A)

set()

In [135]:
# difference of two sets is accomplished by '-', the same is accomplished by difference

A-B  # Element in A, not in B

{1, 2, 3, 4, 5}

In [136]:
B-A   # Elements in B, not in A

{6, 7, 8, 9, 10}

In [141]:
print(A)
print(B)
print(A.difference(B))
B.difference(A)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}
{1, 2, 3, 4, 5}

{6, 7, 8, 9, 10}

In [143]:
# Symmetric difference
print(A)
print(B)
A.symmetric_difference(B)  # Elements of A&B ,excluding intersection elements

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}